<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>666</title>
    <style>
      body {
        font-family: "microsoft Yahei";
      }
      .list {
        display: none;
      }
      .list.show {
        display: block;
      }
      .list-item {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 0 10px;
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <div id="list" class="list">
      <p class="list-item" v-for="item in hqList">
        <span class="item-col col-value" :title="item.name"
          >{{item.name}}：{{item.currentValue}}</span
        >
      </p>
    </div>
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.12/vue.js"></script>
    <script>
      "use strict";
      function inWorkTime() {
        const now = new Date();
        const hour = now.getHours();
        const minute = now.getMinutes();

        if (hour < 9 || hour === 12 || hour >= 15) {
          document.title = 'React Api文档';
          return false;
        }

        if ((hour === 9 || hour === 13) && minute < 30) {
          document.title = 'React Api文档';
          return false;
        }

        return true;
      }

      // 加载脚本
      function loadScript(url, callback, error, crossorigin) {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = url;
        script.onload = script.onreadystatechange = function () {
          if (
            !this.readyState ||
            this.readyState == "complete" ||
            this.readyState == "loaded"
          ) {
            script.onreadystatechange = script.onload = null;
            script = null;
            if (typeof callback === "function") {
              callback();
            }
          }
        };
        document.body.appendChild(script);
      }

      function updateItem(item, i) {
        item.currentValue = window["hq_str_" + item.id].split(",")[3];
        hqList[i] = item;
        if (item.prevValue !== item.currentValue) {
          document.title = `${item.name} - ${item.currentValue}`;
          item.prevValue = item.currentValue;
        }
      }

      function update() {
        if (!inWorkTime()) {
          return;
        }

        loadScript(
          `https://hq.sinajs.cn/list=${hqList.map((t) => t.id).join(",")}`,
          () => {
            hqList.forEach(updateItem);
          }
        );
      }

      let hqList, vi;

      hqList = [
        { id: "sh000001", name: "上啊", currentValue: null },
        { id: "sz300059", name: "东方", currentValue: null },
        { id: "sz000591", name: "太阳能", currentValue: null },
        { id: "sh600649", name: "城投", currentValue: null },
        { id: "sz000100", name: "TCL", currentValue: null },
        { id: "sz000026", name: "小飞", currentValue: null },
        { id: "sz002352", name: "顺丰", currentValue: null },
        { id: "sh600036", name: "小招", currentValue: null },
        { id: 'sz300677', name: '英科', currentValue: null }
      ];

      vi = new Vue({
        el: "#list",
        data: {
          hqList: hqList,
          inWorkTime: false,
        },
        filters: {
          formatValue: function (item) {
            var value = parseFloat(item.currentValue || item.id, 10);

            if (typeof value === "number") {
              value = value.toFixed(2);
            }

            return value + item.name.substring(0, 1);
          },
        },

        created() {
          setInterval(update, 1000);
        },
      });

      window.onclick = () => {
        const list = document.querySelector(".list");
        list.classList.add("show");
        setTimeout(() => {
          list.classList.remove("show");
        }, 2000);
      };
    </script>
  </body>
</html>
